*{box-sizing: border-box;} a{text-decoration: none;color: #ffffff9b;width: 100%;}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

html {
    /* scrollbar-color: #313338 #4b4b4b;
    scrollbar-width: thin; */
    -webkit-user-select: none;
    -moz-user-select: none;
    font-family: "Roboto", sans-serif;
}

html::-webkit-scrollbar {
    width: 9px;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    /* line-height: 25px; */
    color: #c9cccf;
}

p{
    display: block!important;
}

.logo{font-size: 25px;font-weight: 700;color: #FFFFFF;}.logo span{color: #FFFFFF90;font-weight: 500;font-size: 15px;}
h1,h2,h3,h4,h5,h6,p,div,span,input,form,ul,li{
    -webkit-user-select: none;
    -moz-user-select: none;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6,p,div,span:hover{
    text-decoration: none;
}

html::-webkit-scrollbar-track {border-radius: 7px!IMPORTANT;box-shadow: none!IMPORTANT;}
html::-webkit-scrollbar {width: 9px!IMPORTANT;box-shadow: none!IMPORTANT;}
html::-webkit-scrollbar-thumb {border-radius: 7px!IMPORTANT;background: #505358!IMPORTANT;box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3)!IMPORTANT;}
html:hover::-webkit-scrollbar-thumb {background: #454550!IMPORTANT;box-shadow: none!IMPORTANT;}



.prime-menu{
    background-color: #2B2D31;
    width: 275px;
    min-width: 275px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
}

/* .prime-menu::-webkit-scrollbar-track {
    background-color: rgba(103, 103, 103, 0)!IMPORTANT;
    border-radius: 7px!IMPORTANT;
}

.prime-menu::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(32, 32, 32, 0.62)!IMPORTANT;
    width: 7px!IMPORTANT;

}
.prime-menu::-webkit-scrollbar {
    width: 7px!IMPORTANT;
    background-color: rgb(103, 103, 103)!IMPORTANT;

} */
.prime-menu::-webkit-scrollbar-track {border-radius: 7px!IMPORTANT;box-shadow: none!IMPORTANT;}
.prime-menu::-webkit-scrollbar {width: 5px!IMPORTANT;box-shadow: none!IMPORTANT;}
.prime-menu::-webkit-scrollbar-thumb {border-radius: 7px!IMPORTANT;background: #2b2d31!IMPORTANT;box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3)!IMPORTANT;}
.prime-menu:hover::-webkit-scrollbar-thumb {background: #3d4045!IMPORTANT;box-shadow: none!IMPORTANT;}

.siteBG{
    background-color: #313338;
}

.menu-layout{
    display: flex;
    flex-direction: column;
}

.app-layout{
    display: flex;
    justify-content: space-between;
}

.content-layout{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: normal;
    justify-content: center;
}

.container-pages{
    padding: 20px;
    width: 100%;
    max-width: 969px;
    margin: 0 auto;
}

h1{
    color: #FFFFFF;
    font-weight: 900;
    margin: 40px auto;
}

.mini-roles{
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 19px 0px 9px 0px;
    padding: 0px 0px 15px 0px;
}

.mini-roles::-webkit-scrollbar-track {border-radius: 7px!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}
.mini-roles::-webkit-scrollbar {width: 9px!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}
.mini-roles::-webkit-scrollbar-thumb {border-radius: 7px!IMPORTANT;background: #313338!IMPORTANT;box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3)!IMPORTANT;height: 5px;}
.mini-roles:hover::-webkit-scrollbar-thumb {background: #48484f!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}


.mini-roles a{
    color: #ffffff9b;
    font-size: 18px;
    font-weight: 500;
    background-color: #2B2D31;
    border-radius: 7px;
    padding: 12px 20px 12px 20px;
    text-decoration: none;
    display: inline-block;
    margin: 0px 9px 0px 0px;
    min-width: fit-content;
    -webkit-user-select: none;
    -moz-user-select: none;
}


.menu-layout ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    padding: 0px 15px 9px 15px;
}

.menu-layout li{
    padding: 7px 12px 7px 12px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    margin: 0px 0px 3px 0px;
    
}

.menu-layout li.active{
    background-color: #404248;
}

h2{
    color: #ffffff9b;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.2s;
    width: max-content;
}

.menu-layout h2{
    margin: 15px 0px 7px 0px;
    font-size: 13px;
    padding: 0 13px;
}

.menu-layout li:hover{
    background-color: #37393e;
    transition: all 0.2s;
    cursor: pointer;
}

.user{
    padding: 20px 20px 0px 20px;
    position: relative;
}

.user h2{
    text-transform: uppercase;
    margin: 0px 0px 9px 0px!IMPORTANT;
}

.menu-layout svg{
    margin: 0px 5px 0px 0px;
    height: 19px;
    width: 19px;
}


/* .img-fon img{
    opacity: 0.4;
    filter: alpha(opacity=40);

} */
.profile{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #FFFFFF;
    position: relative;
    z-index: 99;
    border-bottom: 1px solid #ffffff19;
    padding-bottom: 15px;
}

.profile img{
    width: 100%;
    max-width: 49px;
    border-radius: 37px;
    margin: 0px 15px 0px 0px;
}

.profile-info p{
    font-size: 14px;
    color: #ffffff9b;
}
.profile-info span{
    color: #FFFFFF69;
    font-size: 15px;
}


.user-info span{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
}

.user-info p{
    color: #FFFFFF70;
    border-bottom: 1px solid #FFFFFF19;
    padding: 12px 0px 12px 0px;
}

.index-cart{
    width: 30%;
    padding: 20px;
    border-radius: 9px;
    background-color: #2B2D31;
    color: #FFFFFF70;
    margin: 0px 20px 9px 0px;
    min-width: 275px;
}

.index-cart span {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
}

.index-cart-footer{
    color: #FFFFFF70;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.index-cart-footer svg{
    margin: 0px 12px 0px 0px;
}

.index-cart p{
    color: #ffffffce;
    font-size: 14px;
    margin: 0px 0px 15px 0px;
}

.index-cart img{
    display: none;
}

.container{
    padding: 0px 0px 0px 0px;
}

.cart-layout{
    width: 100%;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
}

.cart-layout::-webkit-scrollbar-track {border-radius: 7px!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}
.cart-layout::-webkit-scrollbar {width: 9px!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}
.cart-layout::-webkit-scrollbar-thumb {border-radius: 7px!IMPORTANT;background: #313338!IMPORTANT;box-shadow: inset 0 0 0px rgba(0, 0, 0, 0.3)!IMPORTANT;height: 5px;}
.cart-layout:hover::-webkit-scrollbar-thumb {background: #48484f!IMPORTANT;box-shadow: none!IMPORTANT;height: 5px;}


.cart-header{
    font-size: 20px;
    margin: 0px 0px 20px 0px;
    display: flex;
    align-items: center;
}

.cart-header img{
    height: 25px;
    margin: 0px 9px 0px 0px;
}

.cart-header h2{
    color: #ffffffea;
    margin: -3px 0px 0px 0px;
}

.container-pages input {
    width: 100%;
    border-radius: 9px;
    background-color: #1E1F22;
    color: #FFFFFF;
    padding: 12px 20px 12px 20px;
    border: none;
    font-size: 18px;
    font-weight: 500;
}
.container-pages input:focus{
    outline: 2px solid #505358;
}




.list_categories{
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
.list_categories ul > li{    
    background-color: #404248;
    border-radius: 7px;
    font-size: 20px;
    background-color: #404248;
    border-radius: 13px;
    font-size: 20px;
    font-weight: 500;
    margin: 0px 0px 7px 0px;
    list-style: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.list_categories a{
    padding: 15px 25px 15px 25px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}

.list_categories ul > li:hover{
    box-shadow: 0px 7px 7px 0px #19191940;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    position: relative;
    transform: translateY(-3px);
}



.list_categories span{
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
}

.list_categories p{
    font-size: 15px;
    color: #ffffff86;
}

.cart-header span{
    background-color: #404248;
    padding: 9px;
    border-radius: 100px;
    font-size: 12px;
    margin: 0px 0px 0px 7px;
    position: relative;
    top: -2px;
}



















tbody, td, tfoot, th, thead, tr{
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    background-color: #313338;
    color: #FFFFFF;
    padding: 15px 15px 15px 15px;
}
.table{
    width: 100%!IMPORTANT;
}

