{% extends 'default.html' %}{% load static %}
{% block content %}

<div class="container">
    <div class="post">
        <a href="{{ back_url }}">Назад</a>
        <h1>{{post.title}}</h1>
        {{post.text|safe}}
    </div>

</div>
</div>
<style>
    .post{
        line-height: 25px;
        color: #e0e0e0;
    }
    .post a{
        margin: 40px 0px 0px 0px;
        display: flex;
    }
    h1{
        margin: 0px 0px 15px 0px;
    }

    p.p-list{
        margin: 0px 0px 35px 0px;
        color: #FFFFFF;
    }
    .container{
        color: #FFFFFF;
    }
    .form-control{
        margin: 0px 0px 0px 0px;
    }
    form p{
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
    label {
    display: inline-block!important;
    margin: 0px 0px 9px 0px!important;
    color: #c9cccf;
    }
    p{
        margin-block-start: 1em!important;
        margin-block-end: 1em!important;
        margin-inline-start: 0px!important;
        margin-inline-end: 0px!important;
    }
</style>
{% endblock %}