{% extends 'default.html' %}{% load static %}
{% block content %}

<div class="container">

    
    <h1>{{ parent_category.name }}</h1>

    <p class="p-list">{{ parent_category.description }}</p>
    <div class="list_categories">
    <ul>
        {%for post in parent_category.post_set.all%}
        {%if post.post%}
        <li><a href="{% url 'post' post.id %}">
            <span>{{post.title}}</span>
            <p>{{post.description}}</p>
        </a></li>
        {% else %}
        <li><a href="{% url 'post' post.id %}">
            <span>{{post.name}}</span>
            <p>{{post.description}}</p>
        </a></li>
        {% endif %}
       


        {%endfor%}
    </ul>
</div>
</div>
<style>
    h1{
        margin: 40px 0px 15px 0px;
    }

    p.p-list{
        margin: 0px 0px 35px 0px;
        color: #FFFFFF;
    }
</style>
{% endblock %}